---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import ClientPDFViewer from "../components/ClientPDFViewer.vue";
import "../styles/global.css";
---

<Layout>
  <!-- Contenedor que abarca todo el ancho disponible en el layout,
       limitado a un ancho máximo y con una altura fija para que el visor tenga scroll interno. -->
  <div class="flex justify-center">
    <div class="w-full max-w-5xl h-[800px] overflow-auto">
      <ClientPDFViewer client:load />
    </div>
  </div>
</Layout>
