---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import ClientPDFViewer from "../components/ClientPDFViewer.vue";
import "../styles/global.css";
---

<Layout>
  <!-- Contenedor para el visor: le damos un ancho fijo pero que se mantenga centrado -->
  <div class="flex justify-center">
    <div class="flex-shrink-0">
      <ClientPDFViewer client:load />
    </div>
  </div>
</Layout>
