---
import PdfViewer from "../components/PdfViewer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Visor PDF con Marcas</title>
  </head>
  <body>
    <PdfViewer />
  </body>
</html>
