<div id="controlPanel">
  <button id="btnAbrir">Abrir PDF</button>
  <button id="btnZoomIn">Acercar</button>
  <button id="btnZoomOut">Alejar</button>
  <button id="btnAgregarMarca">Agregar Marca</button>
  <button id="btnImprimir">Imprimir</button>
  <button id="btnGuardar">Guardar</button>
  <div id="marksListContainer">
    <!-- Podrías importar MarksList.astro aquí si lo separas -->
    <div id="marksList"></div>
  </div>
</div>
