---
import PDFCanvas from "../components/PDFCanvas.astro";
import ControlPanel from "../components/ControlPanel.astro";
---

<pdf-viewer-element base-url="/TaniaPDF">
  <div id="mainContainer">
    <div id="viewerContainer">
      <PDFCanvas />
    </div>
    <ControlPanel />
  </div>
</pdf-viewer-element>
