<!-- src/components/ViewerCanvas.astro -->
<div
  id="viewerContainer"
  class="flex-1 m-2 p-2 border border-base-200 rounded-lg bg-base-100 cursor-grab"
>
  <div class="relative">
    <canvas id="pdfCanvas" class="block"></canvas>
    <canvas id="overlayCanvas" class="absolute top-0 left-0 pointer-events-auto"
    ></canvas>
  </div>
  </div
</div>
